<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Chest X-Ray Analyser
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div class="info" *ngIf="images.length == 0">
  <ion-text color="danger">
    <h4  text-center><ion-icon name="folder-outline"></ion-icon> Please Select Image! </h4>
  </ion-text>
 
</div> -->
 
<ion-content *ngIf="show_upload_layout" padding>

  <br>
  <div *ngIf="images.length > 0">
  <img [src]="images[images.length-1].path" height="400" width="400" class="center">
  <br>
  <ion-col style="text-align: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <ion-button  color="medium"  shape="round"  (click)="startUpload(images[images.length-1])">&nbsp;&nbsp;&nbsp; Upload
    <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>

  </ion-button>
  <ion-button  color="medium"  shape="round"  (click)="refresh()">View results

  </ion-button>
  
</ion-col>





</div>
</ion-content>

<ion-content *ngIf="!show_upload_layout">
  <ion-card class="welcome-card">
    <img [src]="image_str" height="300" width="300">

    <ng-container *ngFor="let e of serverData; let i = index">
         
      <p  class="text-info">{{classes[i]}}</p>
      <div class="progress">
        
        <div class="progress-bar bg-danger" role="progressbar" [style.width]="e+'%'"  aria-valuemin="0" aria-valuemax="100">{{e}}%</div><br>
      </div>

    </ng-container>

  
   
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image</ion-button>
  </ion-toolbar>

</ion-footer>